body {
  font-family: 'Lato', sans-serif;
  background-color: #f6f6f6;

}

.cabeza {
background: url(../imagenes/textura1.jpg)fixed;
padding: 2% 0 20% 0;

}

.contenido {
  background-color: #f6f6f6;
}

.logo {
  text-align: center;
  display: block;
  margin-top: 30px;
}



.mensaje{
  background-color: #fff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  width: 90%;
  margin-left: 5%;


}
.over{
  position: absolute;
  text-align:center;
  width:100%;
  padding-top: 5%;
}


.contacto {
  background: url(../imagenes/textura2.jpg)fixed;
  width: 100%;
  text-align: center;
}


.contacto>.social {
  padding: 3px 10px;
  width: 60px;
}

.contacto>.logofooter img{
  width: 150px;
  padding: 5px 0  60px 0;
}

.tiempo {
  padding-top: 30px;
  padding-bottom: 30px;
  color: #00aac8;
}

.azul1 {
  color: #00aac8;
  font-weight: 100;
  text-align: center;
}

.azul2 {
  color: #00aac8;
  font-weight: lighter;
  text-align: center;
  margin-top: -10px;
}

.azul3 {
  color: #00aac8;
  font-size: 15pt;
  text-align: center;
  margin-top: -20px;
}


.azul4 {
  color: #00aac8;
  font-size: 20pt;
  font-weight: lighter;
  text-align: center;
  margin-top: -10px;
}


.P1 {
  color: #676767;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;

}

.P2 {
  color: #676767;
}

.P3 {
  color: #676767;
  font-size: 15pt;
  font-weight: lighter;
}

.P4 {
  color: #a0a2a3;
  font-size: 10pt;
  margin-top: 10px;
  margin-bottom: 3px;
}

.actualizate {
  padding: 69px 20px 20px 20px;
}

.mockup {
  /* background: url(../imagenes/imagen01.png);*/
  text-align: center;
  padding: 30px;
}
